{% load i18n %}{% autoescape off %}
{% blocktranslate %}Has recibido este correo porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, visita la siguiente página y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El equipo de {{ site_name }}{% endblocktranslate %}

{% endautoescape %}
